Deep learning/chromosome classification/bestModel.keras
Deep learning/chromosome classification/test_data.zip
Deep learning/chromosome classification/train_data.zip
Deep learning/Tensorflow/Cats and Dogs classification
Deep learning/Tensorflow/Dataset
Deep learning/Tensorflow/2425-ii-ait-3002-1-gender-classification.zip
Deep learning/Tensorflow/2425-ii-ait-3002-2-object-detection.zip
Deep learning/Tensorflow/2425-ii-ait-3002-medical-image-segmentation.zip